.navbar {
    background-color: #798071;
    text-align: center;
}

.navbar a {
    color: #d2cadc;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    padding: 15px;
}

.navbar a:hover {
    color: black;
}

.navbar a:active {
    color: white;
}

.homepage {
    background-color: #DAE2DF;
    margin: 0;
}

.intro {
    margin: auto;
    padding-top: 10px;
    width: 600px;
    height: 300px;
    background-color: #509877;
    border-radius: 25px;
    margin-top: 30px;

}

.about {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.header1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.dashed {
    border-top: 4px dashed #bbb;
}
#link_column {
    float: left;
}

.project_links {
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: #b1dac7;
    padding-top: 10px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.img_div {
    height: 300px;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.img1 {
    height: 300px;
    width: 500px;
    border-radius: 25px;
    padding-top: 10px;
}

.updates_about_blog {
    width: 500px;
    height: 300px;
    background-color: #b1dac7;
    margin: auto;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    text-align: center;
}

.header2 {
    font-size: 25px;
    text-align: center;
}